div{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
background-color: white;
color: #15A7B7;
}

header{
background-color: #15A7B7;
color: #15A7B7;
}

nav :hover{
background-color: black;
background-color: white;
color: #15A7B7;
}
nav :hover{
background-color: white;
color: #15A7B7;
}
.book, .join{
background-color: white;
color: #15A7B7;
}
.book:hover, .join:hover{
background-color: white;
color: #15A7B7;
}
#background{

background-color: #15A7B7;
color: #15A7B7;
}
.msg{
background-color: #15A7B7;
color: white;
}
footer{
background-color: #15A7B7;
color: #15A7B7;
}
#toppic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
background-color: white;
color: #15A7B7;

}
footer{
background-color: white;
color: #15A7B7;
}
#hero-img.icon {
    width: 80px;
}
#nav {
    text-align: center;
}
.book, .join{
        color: #15A7B7;
}
footer p {
        font-size: 1.2em;
        color: white
}
footer a:hover {
    text-decoration: underline;
}    
.card-img {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.fb {
    width: 60px;
}
.icon {
    width: 40px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}
.msg {
    background-color: #15A7B7
}

footer {
        text-decoration: none;
        background-color: #15A7B7
}
footer a:hover {
    text-decoration: underline;
} 
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }
  body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}               