body {
    background-color: gray;
  }
body { 
    text-align: center 
}
body {
   margin-top: 20%; 
   margin-bottom: 20%;
}
img {
  width: 1440px;
  height: 600px;
}
.deskcircle {
    vertical-align: middle;
  width: 400px;
  height: 400px;
  border-radius: 50%;
} 
.deskcircle {
    position: left;
  top: 1000px;
  right: 3000;
  width: 400px;
  height: 400px;
  border: 9px solid #333431;
}
.graphic {
   position: middle;
  top: 1000px;
  right: 10;
  width: 500px;
  height: 400px;
  border: 9px solid #333431; 
  vertical-align: middle;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.person {
    position: right;
  top: 1000px;
  right: 500;
  width: 400px;
  height: 400px;
  border: 9px solid #333431;
  vertical-align: middle;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
