body{
    display: grid;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    lightgray 50%,
    lightgray 100%
  )
}
.Title {
    text-align: center;
    vertical-align: middle;
    font-size: 450%;
    letter-spacing: 30px;
}
.splitright {
    display: grid;
    color: red;
    font-size: 300%;
    padding-left: 60%;
    padding-bottom: 20%;
    letter-spacing: 30px;
    align-self: middle;
    justify-self: middle;
    
}
.splitleft {
    display: grid;
    vertical-align: middle;
    align-self: center;
    justify-self: left;
}
